<a href="https://colab.research.google.com/github/zahoororakzai11/Python/blob/main/Python_quesiton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Simple Fibonacci Series using recursion

def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-2)
factorial(4)

8

In [ ]:
# Use two Python Function to Check Result

def factorial(n):
  print("factorial has been called = " + str(n))
  if n == 1:
    return 1
  else:
    res = n * factorial(n-1)
    print("intermediate result for ", n, " * factorial(" ,n-1, "): ",res)
    return res
factorial(4)

factorial has been called = 4
factorial has been called = 3
factorial has been called = 2
factorial has been called = 1
intermediate result for  2  * factorial( 1 ):  2
intermediate result for  3  * factorial( 2 ):  6
intermediate result for  4  * factorial( 3 ):  24

24

In [ ]:
def iteractive_factorail(n):
  result = 1
  for i in range(2,n+1):
    result *= i
  return result
for i in range(5):
  print(i,iteractive_factorail(i))

0 1
1 1
2 2
3 6
4 24

In [ ]:
def fibonacci(n, prev_values=None):
    if prev_values is None:
        prev_values = {}  # Initialize a dictionary to store previous values

    # Base cases
    if n == 0:
        return 0
    elif n == 1:
        return 1

    # Check if the value for n has already been computed
    if n in prev_values:
        return prev_values[n]

    # Calculate the Fibonacci value recursively and store it in prev_values
    result = fibonacci(n - 1, prev_values) + fibonacci(n - 2, prev_values)
    prev_values[n] = result

    return result

# Example usage:
n = 10
print(f"Fibonacci({n}) = {fibonacci(n)}")

Fibonacci(10) = 55

In [ ]:
name  = 'zahoor'
print( str(name)+" Welcome to JMM Technology " )

zahoor Welcome to JMM Technology

In [ ]:
float(True) # will give you 1.0
float(False) # will give you 0.0

0.0

In [ ]:
# Exponential Form number
float("2.24e-3")

0.00224

In [ ]:
#separate
a = 8
print("a = ",a,sep='$$$')

a = $$$8

In [ ]:
age = int(input("Please Enter your age"))
print(age)
type(age)

Please Enter your age25
25

int

In [ ]:
x = 5
print("x =", x)

# += operator
x += 5
print(x)

x /= 4
print(x)

x = 5
10
2.5

In [ ]:
# Define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# Print first three elements from the list
course[2:3]

['python']

In [ ]:
# Extend Method to concatenates lists
# Define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data']

# Define a second list
course2 = ['artificial intelligence']

course1.extend(course2)
course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'artificial intelligence']

In [ ]:
my_tuple = (123, ['s', 'a', 'v'], "World")
print(my_tuple)

# Changing the element of the list
# This is valid because list is mutable
my_tuple[1][2] = 99
print(my_tuple[1])

(123, ['s', 'a', 'v'], 'World')
['s', 'a', 99]

In [ ]:
def sum():
  total = 4
  a = int(input("Enter NUmber to add: "))
  total += a
  print(total)
sum()

Enter NUmber to add: 4
8

In [ ]:
def insert_and_sum():
    numbers = []  # Initialize an empty list to store the numbers

    while True:
        try:
            value = input("Enter a number (or 'done' to finish): ")

            if value.lower() == 'done':
                break  # Exit the loop when the user enters 'done'

            number = float(value)  # Convert the input to a float (you can use int if you want integers)
            numbers.append(number)  # Add the number to the list

        except ValueError:
            print("Invalid input. Please enter a valid number or 'done'.")

    if numbers:
        total = sum(numbers)
        print("List of numbers:", numbers)
        print("Sum of numbers:", total)
    else:
        print("No numbers entered.")

# Call the function to insert values and calculate their sum
insert_and_sum()
11

Enter a number (or 'done' to finish): 1
Enter a number (or 'done' to finish): 2
Enter a number (or 'done' to finish): 3
Enter a number (or 'done' to finish): 4
Enter a number (or 'done' to finish): 5
Enter a number (or 'done' to finish): 'done'
Invalid input. Please enter a valid number or 'done'.
Enter a number (or 'done' to finish):
Invalid input. Please enter a valid number or 'done'.
Enter a number (or 'done' to finish):
Invalid input. Please enter a valid number or 'done'.

KeyboardInterrupt: ignored

In [ ]:
#method 1
''' element = 2
repeated_list = [element] * 48
print(repeated_list) '''

#method 2
elements = 2
repeated_list = [elements for _ in range(48)]
repeated_list

[2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2]

In [ ]:
list = ["apple","orange","grapes","watermelon"]
print(list[1:2])

['orange']

In [ ]:
# 3
list = ["apple","orange","grapes","watermelon"]
list[1] = "strawberries"
list

['apple', 'strawberries', 'grapes', 'watermelon']

In [ ]:
iterate_list = [1,2,3,4,5]
for _ in iterate_list:
  print(_)

1
2
3
4
5

In [ ]:
# 5  Find Square of the list
def square():
  list = [1, 12, 24, 36, 11, 20,50]
  for num in list:
    square = num * num
    print(square)
square()

1
144
576
1296
121
400
2500

In [ ]:
List=['white','red', 'blue', 'green','blue','yellow', 'black']
List.remove('yellow')
print("Pop List",List)

Pop List ['white', 'red', 'blue', 'green', 'blue', 'black']

In [ ]:
list=["a","b","c","d","e"]
print(len(list))

5

In [ ]:
dictionary = {
    'brand':'Audi',
    'model': 'Q2',
    'Year' : 1980
}
# Change Year to 2019
dictionary['Year'] = 2019
print("Brand", dictionary["brand"])
print("Model",dictionary["model"])
print("Year",dictionary['Year'])

Brand Audi
Model Q2
Year 2019

In [ ]:
set_value = {"hello",55,(6,7,8)}
set_value

{(6, 7, 8), 55, 'hello'}

In [ ]:
a = 55
if a == 10:
  print("Hello")
else:
  print("Good BYe")

Good BYe

In [ ]:
a = 2021
if a % 2 == 0:
  print("Even")
else:
  print("Odd")

Odd

In [ ]:
length = 5
breadth = 10
area = length * breadth
print(area)

perimeter = 2 * (length + breadth)
print(perimeter)

if area > perimeter:
  print("Area Greater than Perimeter")
else:
  print("Perimeter is greater than Area")

50
30
Area Greater than Perimeter

In [ ]:
import builtins
marks = [50,60,70,80,90]
average = builtins.sum(marks) / len(marks)
if average > 90:
  grade = 'A'
elif average > 80:
  grade = 'B'
elif average > 70:
  grade = 'C'
elif average > 60:
  grade = 'D'
elif average > 50:
  grade = 'C'
else:
  grade = 'Fail'

print("Average:",average)
print("Grade",grade)

Average: 70.0
Grade D

In [ ]:
side1 = 6
side2 = 8
side3 = 13

if side1 == side2 == side3:
  triangle_type= "Equilateral Traingle"
elif side1 == side2 or side2 == side3 or side1 == side3:
  triangle_type ="Isosceles"
else:
  triangle_type = "Scelene"

print("The Triangle is: ",triangle_type)

The Triangle is:  Scelene

In [ ]:
sentence = "I am a Data Scientist"
if "Data" in sentence:
  print(True)
else:
  print(False)

True

In [ ]:
age = float(input("Enter age to Check Work eligible"))
if age < 18:
  print("Not eligible to Word")
elif age >=18 and age <=60:
  print("Eligible to Work")
else:
  print("Group 3 Too Old to Work as per govt")

Enter age to Check Work eligible35
Eligible to Work

In [ ]:
# Ages of three people
age1 = 25
age2 = 34
age3 = 45

# Compare the ages to find the oldest person
if age1 >= age2 and age1 >= age3:
    oldest_person = "The first person is the oldest."
elif age2 >= age1 and age2 >= age3:
    oldest_person = "The second person is the oldest."
else:
    oldest_person = "The third person is the oldest."

# Print the result
print(oldest_person)

The third person is the oldest.

In [ ]:
# Function to add,substract, multiply and divide two number

class Calculate:
  def sum(self,x,y):
    result = x + y
    print(f"Addition:{x} + {y} = {result}")
    return result

  # multiple
  def multi(self,x,y):
    result = x * y
    print(f"Multiplication:{x} * {y} = {result}")
    return result

  #divide
  def divide(self,x,y):
    result = x / y
    print(f"Division:{x} / {y} = {result}")
    return result

  #substraction
  def substract(self,x,y):
    result = x / y
    print(f"Substraction:{x} - {y} = {result}")
    return result

#Class object
calculate = Calculate()
#function calling
result_add = calculate.sum(5,5)
result_div = calculate.multi(5,2)

Addition:5 + 5 = 10
Multiplication:5 * 2 = 10

In [ ]:
def calculate_squares():
    squares = []  # Initialize an empty list to store the squares

    for num in range(1, 11):
        square = num ** 2
        squares.append(square)

    return squares

# Call the function to calculate and get the squares
result = calculate_squares()

# Print the squares
for i, square in enumerate(result, start=1):
    print(f"Square of {i}: {square}")

Square of 1: 1
Square of 2: 4
Square of 3: 9
Square of 4: 16
Square of 5: 25
Square of 6: 36
Square of 7: 49
Square of 8: 64
Square of 9: 81
Square of 10: 100

In [ ]:
def calculate_squares():
  squares = []
  for num in range(1,11):
    square = num ** 2
    squares.append(square)
  return result

result = calculate_squares()
for i , square in enumerate(result,start = 1):
  print(f"Square of {i}: {square}")

Square of 1: 1
Square of 2: 4
Square of 3: 9
Square of 4: 16
Square of 5: 25
Square of 6: 36
Square of 7: 49
Square of 8: 64
Square of 9: 81
Square of 10: 100

In [ ]:
def calculate_interest(principle,rate,time):
  rate_decimal = rate / 100
  simple_interest = (principle * rate_decimal * time) /100
  return simple_interest

# Given values
principal_amount = 1000
annual_rate_of_interest = 3
time_in_years = 5

interest = calculate_interest(principal_amount,annual_rate_of_interest,time_in_years)

print("Simple Interest", interest)

Simple Interest 1.5

###  Define a function that takes an input, squares it, adds 5, then returns the answer

In [7]:
# Function to add value from user input
def addition(input_number):
  square = input_number ** 2
  result = square + 5
  return result
addition(5)

30

In [8]:
lambda_function = lambda x: x ** 2 + 5
result = lambda_function(3)
print(result)

14

### Write a function to calculate the power of a number raised to other(a𝑏)

In [11]:
def power(base,exponent):
  result = base ** exponent
  return result
power(4,2)

16

In [13]:
def area_of_triangle(base,height):
  area = 1/2 * base * height
  return area
base = 4
height = 5

area = area_of_triangle(base,height)
print("Area of the Triangle is:",area)

Area of the Triangle is: 10.0

### Create a function that takes country as the input and returns "I am from Country "

In [18]:
def take_input(country):
  return f"I am from {country}"

my_country = "Pakistan"
message = take_input(my_country)
print(message)

I am from Pakistan

### Write a function to convert degree Celsius temperature to Fahrenheit

In [19]:
def celsium_to_fahrenheit(celsius):
  fahrenheit = celsius * 9/5 + 32
  return fahrenheit

celsius = 25.0
temperature = celsium_to_fahrenheit(celsius)
print(temperature)

77.0

In [22]:
# Count Vowels

def count_vowels(string):
  vowels = "AEIOUaeiou"
  count = 0
  for char in string:
    if char in vowels:
      count += 1
  return count

input_string = "Data Science"
vowel_count = count_vowels(input_string)
print(vowel_count)

5

In [23]:
import getpass

def get_password():
    try:
        password = getpass.getpass(prompt="Enter your password: ")
        return password
    except KeyboardInterrupt:
        return None  # Return None if the user presses Ctrl+C

if __name__ == "__main__":
    password = get_password()
    if password is not None:
        print("Password entered:", password)
    else:
        print("\nPassword entry cancelled.")

Enter your password: ··········
Password entered: zahoor